<%- include('header'); -%>
 <div class="name">
 <h1 id="names">Name</h1>
 </div>
 <div class="address">
  <h1 id="addresses">Address</h1>
 </div>
 <div class="phone">
  <h1 id="phonenos">Phone</h1>
 </div>
 <div class="email">
  <h1 id="emails">Email</h1>
 </div>
<%- include('footer'); -%>